<%- model_class = Prediction -%>
<div class="page-header ind-body match-result text-center">
  <h1><%=t '.title', :default => "#{@daily_challenge.try(:name)} - #{Date.today.to_s(:date_format)}" %></h1>
</div>
<table class="table table-striped ind-body" border="1">
  <thead>
    <tr>
      <th rowspan="3" valign="top"><%= "Sl No." %></th>
      <th rowspan="3" valign="top"><%= "User" %></th>
      <% @matches.each do |match| %>
        <th colspan="2"><%= "Match #{match.game_id}" %></th>
        <th>Winner</th>
      <% end %>
    </tr>
    <tr>
      <% @matches.each do |match| %>
        <th><%= match.match.split('Vs')[0] %></th>
        <th><%= match.match.split('Vs')[1] %></th>
        <%=raw '<th></th>' * 1 %>
      <% end %>
    </tr>
  </thead>
  <tbody>
  	<% count = 0 %>
  	<% @users.each do |user| %>
  	  <% count += 1 %>
      <tr>
      	<td><%= count %></td>
      	<td><%= user.show_name %></td>
      	<% user.predictions_for(@daily_challenge).each do |prediction| %>
          <td><%= prediction.team_a_score %></td>
          <td><%= prediction.team_b_score %></td>
          <td><%= prediction.result %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<!--%= link_to t('.new', :default => t("helpers.links.new")),
            new_prediction_path,
            :class => 'btn btn-primary' %-->
