<% daily_challenges = DailyChallenge.active_today %>
<% daily_challenges.each do |dc_today| %>
<br /><br /><br /><br />
<div class = "daily_pred">
  <% dc_today.matches.order_by_game_id.each do |m|%>
  <div class="pf" id='<%="match#{m.game_id}"%>' >
  	<%= render '/shared/messages', :object => @prediction %>
    <%= form_tag home_create_user_prediction_path, method: "post", remote: true do %>

    <%= hidden_field_tag :match_id, m.id %>
    <%= hidden_field_tag :daily_challenge_id, dc_today.id %>
    
    <div class="match-div text-center">
      <h5><%= team = m.match %></h5>
    </div>
    
    <% unless current_user.has_predictions_for_match?(m) %>
    
    <div class="match-div">
        <%= label_tag(:team_b, "#{team.split(" ").first}") %>
        <%= text_field_tag(:team_a_score) %>
    </div>
    
    <div class="match-div">
      	<%= label_tag(:team_b, "#{team.split(" ").last}") %>
      	<%= text_field_tag(:team_b_score) %>
    </div>
    
    <div class="match-div">
        <%= label_tag(:result) %>
        <div class="match-result">
          <%= radio_button_tag(:result, m.match.split("Vs").first.strip) %> <%= m.match.split("Vs").first.strip %> 
          <!--%= label_tag(:result, m.match.split("Vs").first.strip) %-->
        </div>
        <div class="match-result">
          <%= radio_button_tag(:result, m.match.split("Vs").last.strip) %> <%= m.match.split("Vs").last.strip %>
          <!_-%= label_tag(:result, m.match.split("Vs").last.strip) %-->
        </div>
        <div class="match-result">
          <%= radio_button_tag(:result, 'Draw') %> Draw <!--%= label_tag(:result, 'Draw') %-->
        </div>
    </div>

    <div class="match-div">
    	<%= submit_tag("Submit") %>
    </div>
    
    <% else %>
      <% prediction = current_user.predictions_for_match(m) %>
    
      <div class="match-div">
        <%= label_tag(:team_a, "#{m.match.split('Vs').first.strip} : #{prediction.team_a_score}") %>
      </div>
      <div class="match-div">
        <%= label_tag(:team_b, "#{m.match.split('Vs').last.strip} : #{prediction.team_b_score}") %>
      </div>
      <div class="match-div">
        <%= label_tag(:team_c, "Result : #{prediction.result}") %>
      </div>
    <% end %>
    
    <% end %>
  </div>
  <% end %>
</div>
<% end %>