<% unless current_user.has_predictions_for_match?(m) %>
    
<% if m.final_stage? %>
  <div class="form-group margin-left-20 padding-5 row">
  	<table class="show-game">
  	    <tr>
  		    <th></th>
  		    <th><%= label_tag(:team_b, "#{team.split('Vs').first.strip}", :class => 'class-bold') %></th>
  		    <td><%= label_tag(:symbol, "") %></td>
  		    <th><%= label_tag(:team_b, "#{team.split('Vs').last.strip}", :class => 'class-bold') %></th>
  	    </tr>
  	    <tr class='match'>
      		<td><%= label_tag(:full_time, "Full Time", :class => 'class-bold') %></td>
      		<td><%= text_field_tag(:ft_score1, '', class: "input-xsmall search-query") %></td>
      		<td><%= label_tag(:symbol, ":") %></td>
      		<td><%= text_field_tag(:ft_score2, '', class: "input-xsmall search-query") %></td>
      	</tr>
      	<tr class='match'>
      		<td><%= label_tag(:extra_time, "Extra Time", :class => 'class-bold') %></td>
      		<td><%= text_field_tag(:et_score1, '', class: "input-xsmall search-query") %></td>
      		<td><%= label_tag(:symbol, ":") %></td>
      		<td><%= text_field_tag(:et_score2, '', class: "input-xsmall search-query") %></td>
      	</tr>
      	<tr class='match'>
      		<td><%= label_tag(:shootout, "Shootout", :class => 'class-bold') %></td>
      		<td><%= text_field_tag(:so_score1, '', class: "input-xsmall search-query") %></td>
      		<td><%= label_tag(:symbol, ":") %></td>
      		<td><%= text_field_tag(:so_score2, '', class: "input-xsmall search-query") %></td>
      	</tr>
  	</table>
  </div>
<% end %>

<div class="form-group match-div text-center">
	<%= submit_tag("Submit", :class => "btn btn-success #{m.disabled}") %>
</div>

<% else %>
  <% prediction = current_user.predictions_for_match(m) %>
  <div class="form-group margin-left-20 padding-5 row">
    <table class="show-game text-center">
  	    <tr>
  		    <th></th>
  		    <th><%= label_tag(:team_b, "#{team.split('Vs').first.strip}", :class => 'class-bold') %></th>
  		    <th><%= label_tag(:team_b, "#{team.split('Vs').last.strip}", :class => 'class-bold') %></th>
  	    </tr>
  	    <tr class='match'>
      		<td class="text-left"><%= label_tag(:full_time, "Full Time", :class => 'class-bold') %></td>
      		<td><%= label_tag(:ft_score1, (prediction.options["ft_score1"] rescue "") ) %></td>
      		<td><%= label_tag(:ft_score2, (prediction.options["ft_score2"] rescue "") ) %></td>
      	</tr>
      	<tr class='match'>
      		<td class="text-left"><%= label_tag(:extra_time, "Extra Time", :class => 'class-bold') %></td>
      		<td><%= label_tag(:et_score1, (prediction.options["et_score1"] rescue "") ) %></td>
      		<td><%= label_tag(:et_score2, (prediction.options["et_score2"] rescue "") ) %></td>
      	</tr>
      	<tr class='match'>
      		<td class="text-left"><%= label_tag(:shootout, "Shootout", :class => 'class-bold') %></td>
      		<td><%= label_tag(:so_score1, (prediction.options["so_score1"] rescue "") ) %></td>
      		<td><%= label_tag(:so_score2, (prediction.options["so_score2"] rescue "") ) %></td>
      	</tr>
  	</table>
  	
  	<div class="padding-5">
  	  <div class="text-center">
        <%= label_tag(:full_score, "Full Score : #{prediction.full_score}", :class => 'class-bold') %>
      </div>
  	
  	  <div class="text-center">
        <%= label_tag(:result, "Winner : #{prediction.result}", :class => 'class-bold') %>
      </div>
    </div>
  	
  </div>
<% end %>